<header class="mainheader">
  <div class="mainheader-topbar">

    <h1 class="logo">WRIDDIT</h1>

    <div class="container-header">
      <ul class="header-menu">
          <li class='header-link-1'>
            <a class='header-link' href="#">Home</a>
          </li>
          <li class='header-link-2'>
            <a class='header-link' href="#">my Profile</a>
          </li>
          <li class='header-link-3'>
            <a class='header-link' href="#">Login</a>
          </li>
      </ul>
    </div>
  </div>

  <!-- <nav class="navbar">
    <div id="navList">
      <ul class="nav-menu">
        <li class="nav-link-1">
          <a class="nav-link" href="#">Top Stories</a>
        </li>
        <li class="nav-link-2">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-link-3">
          <a class="nav-link" href="#">Unfinished Stories</a>
        </li>
        <li class="nav-link-4">
          <a class="nav-link" href="#">Create a New Story</a>
        </li>
      </ul>
    </div>
  </nav> -->

</header>
