<header class="mainheader">
  <div class="mainheader-topbar">
    <a class='logo' href="/stories">WRIDDIT</a>
    <div class="container-header">
      <ul class="header-menu">
        <% if (user) { %>
        <li class='header-link-1'>
          <a class='header-link' href="/stories">Home</a>
        </li>
        <li class='header-link-2'>
          <a class='header-link' href="#"><%= username %></a>
        </li>
        <li class='header-link-3'>
          <a class='header-link' href="/logout">Logout</a>
          <% } else { %>
        <li class='header-link-3'>
          <a class='header-link' href="/login/1">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <% if (user) { %>
  <nav class="nav-container">
    <ul class="nav-menu">
      <li class='nav-link-1'>
        <a class='nav-link' href="/stories/topStories">TOP STORIES</a>
      </li>
      <li class='nav-link-3'>
        <a class='nav-link' href="/stories/unfinished">UNFINISHED STORIES</a>
      </li>
      <li class='nav-link-4'>
        <a class='nav-link' href="/create">CREATE A NEW STORY</a>
      </li>
      <li class='nav-link-5'>
        <a class='nav-link' href="/users/myStories">MY STORIES</a>
      </li>

    </ul>
  </nav>
  <% } %>
</header>
