<header class="mainheader">

  <div class="mainheader-topbar">

    <h1 class="logo">WRIDDIT</h1>

    <div class="container-header">
      <ul class="header-menu">
          <li class='header-link-1'>
            <a class='header-link' href="#">Home</a>
          </li>
          <li class='header-link-2'>
            <a class='header-link' href="#">my Profile</a>
          </li>
          <li class='header-link-3'>
            <a class='header-link' href="/login/1">Login</a>
          </li>
      </ul>
    </div>
  </div>

  <nav class="nav-container">

    <ul class="nav-menu">
      <li class='nav-link-1'>
        <a class='nav-link' href="#">TOP STORIES</a>
      </li>
      <li class='nav-link-2'>
        <a class='nav-link' href="#">CATEGORIES</a>
      </li>
      <li class='nav-link-3'>
        <a class='nav-link' href="#">UNFINISHED STORIES</a>
      </li>
      <li class='nav-link-4'>
        <a class='nav-link' href="#">CREATE A NEW STORY</a>
      </li>
    </ul>

  </nav>

</header>
