<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create A Story</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/create.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="create-story">

      <form action="/stories" method="post" id="create-story">
        <label for="title">Enter the title of your story:</label>
        <input type="text" name="title" id="title">
        <label for="genre">Choose a genre</label>
        <select name="genre" id="genre">
          <option value="">--Please choose an option--</option>
          <option value="romance">Romance</option>
          <option value="mystery">Crime</option>
          <option value="sci-fi">Sci-fi</option>
          <option value="horror">Horror</option>
          <option value="fantasy">Fantasy</option>
          <option value="action">Action</option>
          <option value="comedy">Comedy</option>
        </select>
        <div class="story-starter">
          <p>WRITER'S BLOCK?</p>
          <div class="prompt-box"></div>
          <button class="continue-button prompt-button">GENERATE A STORY STARTER</button>

        </div>
        <label for="story-content">Enter your content</label>
        <textarea name="content" id="story-content"></textarea>
        <button type="submit">Submit</button>
      </form>

    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
