<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>


    <section class="header-one">

      <div class="header-top-stories">

        <div class="header-top-stories-one">
          <div class="top-stories-one-image"></div>
          <h1>WHO ATE MY ICE CREAM</h1>
          <button class="continue-button">READ THE STORY</button>
          <h3 class="likes">320</h3>
        </div>

        <div class="header-top-stories-two">
          <div class="top-stories-two-image"></div>
          <h1>WHERE'S MY BURGER</h1>
          <button class="continue-button">READ THE STORY</button>
          <h3 class="likes">480</h3>
        </div>

        <div class="header-top-stories-three">
          <div class="top-stories-three-image"></div>
          <h1>HOW'S IT UP THERE</h1>
          <button class="continue-button">READ THE STORY</button>
          <h3 class="likes">480</h3>
        </div>

      </div>

      <div class="feature-story">
        <h1>FEATURE STORY OF THE WEEK</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        <button class="continue-button">CONTINUE READING</button>
        <div class="feature-story-image"></div>
      </div>

      <div class="story-starter">
        <h1>WRITER'S BLOCK?</h1>
        <button class="continue-button">GENERATE A STORY STARTER</button>
        <textarea></textarea>
      </div>

      <div class="unfinished-stories">
        
      </div>

    </section>




    <%- include('partials/_footer') %>
  </body>
</html>
