<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,600;0,643;1,562;1,600&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main id="landing-container">

      <section class="landing-first">
        <div class="landing-first-words">
          <h1>
            WRITING FOR EVERYONE WITH EVERYONE.
          </h1>
          <h3>
            Collaboration and Creativity tools to unleash your inner author.
          </h3>
        </div>

        <!-- <img src="https://66.media.tumblr.com/588c277cd01a738137c3f51bcb0b9104/tumblr_pc1mpc1bRX1t0t09yo1_400.png"> -->

        <div class="test-image"></div>

      </section>

      <div class="background-green">

        <section class="landing-second">

          <div class="test-image-three"></div>

          <div class="landing-second-words">

            <h1>
              READ A TOP STORY WRITTEN BY OUR USERS
            </h1>

            <h3 class="landing-second-h-three">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </h3>

          <div class="landing-second-buttons">
            <h4 class= 'likes'>
              320
            </h4>

            <button class="continue-button">
              CONTINUE THE STORY...
            </button>

          </div>

        </section>

      </div>


      <section class="landing-third">

        <h1 class="landing-third-title">
          START COLLABORATING NOW ON AN UNFINISHED STORY
        </h1>

        <div class="landing-third-unfinished-container">
          <div class="landing-third-unfinished-one">
            <h1 class="landing-title">
              WHO ATE MY ICE CREAM
            </h1>
            <h2 class="landing-third-h2">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla
              pariatur.
            </h2>
            <button class="continue-button">
              CONTINUE THE STORY...
            </button>
          </div>

          <div class="landing-third-unfinished-two">
            <h1 class="landing-title">
              WHO ATE MY BURGER
            </h1>
            <h2 class="landing-third-h2">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla
              pariatur.
            </h2>
            <button class="continue-button">
              CONTINUE THE STORY...
            </button>
          </div>

          <div class="landing-third-unfinished-three">
            <h1 class="landing-title">
              WHO ATE MY PIZZA
            </h1>
            <h2 class="landing-third-h2">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla
              pariatur.
            </h2>
            <button class="continue-button">
              CONTINUE THE STORY...
            </button>
          </div>
        </div>

      </section>

      <section class="landing-first">

        <div class="landing-fourth-button">
          <h1>
            START WRITING YOUR FIRST STORY
          </h1>
          <button class="continue-button">
            CONTINUE THE STORY...
          </button>
        </div>

        <div class="test-image-two"></div>

      </section>
    </main>

    <%- include('partials/_footer') %>

  </body>
</html>
