<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main id="landing-container">

      <section class="landing-first">
        <h1>
          WRITING FOR EVERYONE WITH EVERYONE.
        </h1>
        <h3>
          Collaboration and Creativity tools to unleash your inner author.
        </h3>
        <img src="https://66.media.tumblr.com/588c277cd01a738137c3f51bcb0b9104/tumblr_pc1mpc1bRX1t0t09yo1_400.png">

      </section>

    </main>

  </body>
</html>
