<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/story.js"></script>
  </head>
  <body>

    <%- include('partials/_header') %>

    <main id="landing-container">
      <section class="landing-first">
        <div class="landing-first-words">
          <h1>
            WRITING FOR EVERYONE WITH EVERYONE.
          </h1>
          <h3>
            Collaboration and Creativity tools to unleash your inner author.
          </h3>
        </div>
        <div class="test-image"></div>
      </section>
      <div class="background-green">
        <section class="landing-second">
          <div class="test-image-three"></div>
          <div class="landing-second-words">
            <h1>READ A TOP STORY WRITTEN BY OUR USERS</h1>
            <h3 class="landing-second-h-three">
              A shepherd had a faithful dog, called Sultan, who was grown very old, and had lost all his teeth. And one day when the shepherd and his wife were standing together before the house the shepherd said, ‘I will shoot old Sultan tomorrow morning, for he is of no use now.’ But his wife said, ‘Pray let the poor faithful creature live; he has served us well a great many years, and we ought to give him a livelihood for the rest of his days.’ ‘But what can we do with him...
            </h3>
          <div class="landing-second-buttons">
            <h4 class= 'likes'>OVER 320 LIKES</h4>
            <a href="http://localhost:8080/stories/6"><button class="continue-button read-the-story">
              READ THE STORY NOW
            </button></a>
          </div>
        </section>
      </div>
      <section class="landing-third">
        <h1 class="landing-third-title">
          START COLLABORATING NOW ON AN UNFINISHED STORY
        </h1>
        <div class="landing-third-unfinished-container">
          <div class="landing-third-unfinished-one">
            <h1 class="landing-title">
              The Little Peasant
            </h1>
            <h2 class="landing-third-h2">
              There was a certain village wherein no one lived but really rich peasants, and just one poor one, whom they called the little peasant. He had not even so much as a cow, and still less money to buy one, and yet he and his wife did so wish to have one. One day he said to her: ‘Listen, I have a good idea, there is our gossip the carpenter, he shall make us a...
            <a href="http://localhost:8080/stories/30/contributions"><button class="continue-button">
              CONTINUE THE STORY...
            </button></a>
          </div>
          <div class="landing-third-unfinished-two">
            <h1 class="landing-title">
              Hansel And Gretel
            </h1>
            <h2 class="landing-third-h2">
              Hard by a great forest dwelt a poor wood-cutter with his wife and his two children. The boy was called Hansel and the girl Gretel. He had little to bite and to break, and once when great dearth fell on the land, he could no longer procure even daily bread. Now when he thought over this by night in his bed, and tossed about in his anxiety, he groa...
            </h2>
            <a href="http://localhost:8080/stories/21/contributions"><button class="continue-button">
              CONTINUE THE STORY...
            </button></a>
          </div>
          <div class="landing-third-unfinished-three">
            <h1 class="landing-title">
              Hans In Luck Part Two
            </h1>
            <h2 class="landing-third-h2">
              The next man he met was a countryman carrying a fine white goose. The countryman stopped to ask what was o’clock; this led to further chat; and Hans told him all his luck, how he had so many good bargains, and how all the world went gay and smiling with him. The countryman then began to tell his tale, and said...
            </h2>
            <a href="http://localhost:8080/stories/53/contributions"><button class="continue-button">
              CONTINUE THE STORY...
            </button></a>
          </div>
        </div>
      </section>
      <section class="landing-first bottom">
        <div class="landing-fourth-button">
          <h1>
            START WRITING YOUR FIRST STORY
          </h1>
          <a href="/login/:id"><button class="continue-button">
           WRITE YOUR FIRST STORY NOW
          </button></a>
        </div>
        <div class="test-image-two"></div>
      </section>
    </main>

    <%- include('partials/_footer') %>

  </body>
</html>
