.top-stories-one-image {
  background-image: url("https://i.pinimg.com/originals/85/bd/13/85bd1361a9180a835637f4a3ab4a4aa5.jpg");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
