main {
  margin: 0 auto;
  width: 80%;
}

.story h1 {
  color: #244751;
  font-size: 64px;
}

.story h3 {
  font-size: 32px;
}

.story img {
  width: 30%;
  float: right;
}

.story-form label {
  display: block;
}

.story-form input {
  width: 100%;
  height: 300px;
}

.contribution {
  border: 2px solid black;
  padding: 5px;
  margin: 10px 0;
}

.contribution footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contribution footer h4 {
  margin: 0;
}

.contribution img {
  width: 20px;
}
