main {
  margin: 0 auto;
  width: 80%;
}

.story h1 {
  color: #244751;
  font-size: 64px;
}

.story h3 {
  font-size: 32px;
}

.story img {
  width: 40%;
  float: right;
  margin-left: 10px;
}

.contribution-form {
  height: 375px;
}

.contribution-form label {
  display: block;
  font-size: 2.25rem;
}

.contribution-form textarea {
  width: 100%;
  height: 250px;
  font-size: 1rem;
  border: none;
  background-color: #F7F4EE;
}

.contribution-form textarea:focus {
  outline: none;
  border: 1px solid #000000;
  box-shadow: 0 0 2px #000000;
}

.contribution-form div {
  display: flex;
  justify-content: flex-end;
}

.contribution-form button {
  background-color: #438180;
  padding: 8px 16px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Jost', sans-serif;
}

.contribution-form button:hover {
  background-color: #3c7473;
}

.contribution {
  border: 2px solid black;
  padding: 5px;
  margin: 10px 0;
  font-size: 1rem;
}

.contribution footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contribution footer h4 {
  display: inline-block;
  margin: 0;
}

.contribution footer p {
  display: inline-block;
  margin: 0;
}

.contribution img {
  width: 20px;
  display: inline-block;
}

.upvote {
  background-color: #e6dfdf;
  border: none;
  opacity: 0.5;
}

.upvote:hover {
  opacity: 1;
}

.merge {
  background-color: #d63732;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  font-family: 'Jost', sans-serif;
  color: #FFFFFF;
}

.merge:hover {
  background-color: #ac322d;
}
