main {
  margin: 0 auto;
  margin-top: 150px;
  width: 80%;
  margin-bottom: 51px;
}

.story h1 {
  color: black;
  font-size: 64px;
  font-family: 'Jost';
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 1;
}

.story h3 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Jost-3';
  font-weight: 100;
  font-style: italic;
}

.story img {
  width: 47%;
  float: right;
  margin-left: 10px;
  margin-bottom: 60px;
}

.story button {
  background-color: black;
  padding: 8px 16px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Jost', sans-serif;
}

.story button:hover {
  background-color: #2b5353;
  cursor: pointer;
}

.contribution-form label {
  display: block;
  font-size: 3.25rem;
  font-family: 'Jost';
}

.contribution-form textarea {
  width: 100%;
  font-size: 1rem;
  font-family: 'Jost';
  border: none;
  height: 300px;
  margin-top: 1%;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: #d7d4d4;
}

.contribution-form textarea:focus {
  outline: none;
  border: 1px solid #000000;
  box-shadow: 0 0 2px #000000;
}

.contribution-form div {
  display: flex;
  justify-content: flex-end;
}

.contribution-form button {
  background-color: #438180;
  padding: 8px 16px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Jost', sans-serif;
}

.contribution-form button:hover {
  background-color: #2b5353;
  cursor: pointer;
}

.contribution {
  border: 2px solid black;
  padding: 5px;
  margin: 10px 0;
  font-size: 1rem;
  margin-top: 60px;
  font-family: 'Jost';
}

.contribution footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contribution footer h4 {
  display: inline-block;
  margin: 0;
}

.contribution footer p {
  display: inline-block;
  font-family: 'Jost';
}

.contribution img {
  width: 20px;
  display: inline-block;
}

.upvote {
  background-color: #e6dfdf;
  outline: none;
  opacity: 1;
  display: contents;
}

.upvote:hover {
  opacity: 0.5;
  cursor: pointer;
}

.merge {
  background-color: #d63732;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  font-family: 'Jost', sans-serif;
  color: #FFFFFF;
}

.merge:hover {
  background-color: #ac322d;
  cursor: pointer;
}

.story-text {
  font-family: 'Jost';
  margin-bottom: 140px;
}

@font-face {
  font-family: 'jost-3';
  src: url("../fonts/Jost-VariableFont_ital,wght.ttf");
  font-weight: 300;
}

.color {
  color: red;
}

.upvote-box {
  margin-left: 12px;
}

.button-id-and-merge h4 {
  font-weight: 400;
}

.button-id-and-merge {
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.div-content {
  font-size: 21px;
  margin: 1rem;
}
