.create-story {
  margin: 150px auto 30px auto;
  width: 80%;

  input {
    background-color: #d7d4d4;
    border: none;
  }

  p {
    font-size: 2.5rem;
    font-family: 'Jost';
  }

  input:focus {
    outline: none;
    border: 1px solid #000000;
    box-shadow: 0 0 2px #000000;
  }

  label {
    display: block;
    font-size: 3.25rem;
    font-family: 'Jost';
  }

  textarea {
    width: 100%;
    font-size: 1rem;
    font-family: 'Jost';
    border: none;
    height: 300px;
    margin-top: 1%;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    background-color: #d7d4d4;
  }

  textarea:focus {

    outline: none;
    border: 1px solid #000000;
    box-shadow: 0 0 2px #000000;

  }

  button {
    background-color: #438180;
    padding: 8px 16px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Jost', sans-serif;
  }

}

a {color:black;}
a:hover {color:black;}
a:active {color:black;}
