.top-stories-one-image {
  background-image: url("https://i.pinimg.com/originals/85/bd/13/85bd1361a9180a835637f4a3ab4a4aa5.jpg");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat
}

.top-stories-two-image {
  background-image: url("https://assets.bigcartel.com/product_images/184356896/deforge.png?auto=format&fit=max&w=1800");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat
}

.top-stories-three-image {
  background-image: url("https://assets.bigcartel.com/product_images/184356896/deforge.png?auto=format&fit=max&w=1800");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat
}

.feature-story-image {
  background-image: url("https://images.squarespace-cdn.com/content/v1/54942a43e4b0f18f7f64b77b/1488138052846-GY1DV3BU9AX7QT69XA99/ke17ZwdGBToddI8pDm48kH038fvZX_ZDi5CWVe14JagUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8PaoYXhp6HxIwZIk7-Mi3Tsic-L2IOPH3Dwrhl-Ne3Z2ZF1TI0rpp0sXYn-3dPgx__MFNthWFT7lOW0KclkvbGxbTvJybZOtvbWRiFosmN10/mars-03.jpg");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat
}
