a {color:black;}



a:hover {color:black;}

a:active {color:black;}

#main-container {
  margin-bottom: 44px;
  margin-top: 3.5em;
  padding-top: 99px;
}

.header-one {
  display: flex;
}
.header-top-stories {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  flex-basis: 20%;
  text-align: center;
}

.header-top-stories-one {
  display: contents;
}

.story-name {
  font-size: 18px;
}


.header-one-middle {
  display: flex;
  flex-direction: column;
  border-left: .8px solid #0000002e;
  padding-left: 21px;
  border-right: .8px solid #0000002e;
  padding-right: 21px;
}

.story-starter {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  .prompt-box {
    display: none;
    text-align: center;
  }
}

.unfinished-stories {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  flex-basis: 20%;
  text-align: center;
}

.unfinished-stories-one {
  padding-bottom: 20px;
}

.unfinished-stories-three {
  padding-top: 20px;
}

.feature-story {
  flex-basis: 50%;
  display: flex;
  border-bottom: .8px solid #0000002e;
  padding-bottom: 26px;
}

.story-starter {
  flex-basis: 50%;
}

.story-image {
  width: 8.5rem;
  align-self: center;
}

.author-name {
  font-family: 'jost-2', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
}

.contributions {
  font-size: 12px;
  color: #d52b2b;
}

.mainpage-header {
  font-size: 20px;
  font-style: italic;
}

.button-mainpage {
  background-color: white;

    border: none;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 6px;
    margin-right: 1px;
    width: 150px;
    margin-top: 17px;

}

.story-starter-text-area {
  height: 50%;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: #d7d4d4;
}

.feature-title {
  font-size: 40px;
}


.catchphrase {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: .8px solid #0000002e;
  border-top: .8px solid #0000002e;
  padding: 0 2rem;
  margin: 0 8%;

  h2 {
    margin-left: 12px;
    font-style: italic;
  }
}

@font-face {
  font-family: 'jost-2';
  src: url("../fonts/Jost-SemiBold.ttf");
  font-weight: normal;
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box { margin: 20px; }

.feature-image {
  float: right;
  width: 330px;
}

.end {
  margin-left: 50px;
  max-width: none;

.end-container {
  display: flex;


  .categories-container {
    flex: 1 1 75%;
    margin-top: 20px;

    .categories-header {
      font-size: 60px;
      border-bottom: .8px solid #0000002e;
      color: black;
      margin: 0px 3%;
      font-family: 'Jost';
      font-weight: 300;
      text-align: center;
      padding-bottom: 31px;
    padding-right: 31px;


    }

    .categ-stories-container {
      display: flex;
      flex-wrap: wrap;
      background-color: none;

      .categ-story1 {
        flex: 1 1 50%;
        display: flex;
        border-right: .8px solid #0000002e;
        justify-content: space-evenly;
        .categ-story-text {
            border-bottom: .8px solid #0000002e;
            padding-bottom: 10px;
        }
        .image-container {
          border-bottom: .8px solid #0000002e;
          margin-right: 23px;

        }
      }

        .categ-story2 {
          flex: 1 1 50%;
          display: flex;
          justify-content: space-evenly;
          padding-left: 20px;
          .categ-story-text {
            border-bottom: .8px solid #0000002e;
            margin-left: 10px;
            padding-bottom: 10px;
        }
          .image-container {
            border-bottom: .8px solid #0000002e;
            margin-right: 50px;
          }
        }
        .categ-story3 {
          flex: 1 1 50%;
          display: flex;
          border-right: .8px solid #0000002e;
          justify-content: space-evenly;
        }
        .categ-story4 {
          flex: 1 1 50%;
          display: flex;
          justify-content: space-evenly;
          padding-left: 20px;

        }

        .categ-story-text {

          width: 60%;


          .genre {
            font-weight: 400;
            font-family: 'Jost';
            font-size: 2vw;
            text-decoration: underline;
            margin-bottom: 2px;
          }

          .title {
            font-size: 1.3vw;
            font-weight: 400;
            font-style: italic;
            font-family: 'Jost';
            margin-top: 8px;
            margin-bottom: 8px
          }

          .starter {
            font-size: 1.1vw;
            font-weight: 200;
            font-family: 'Jost';
          }

          .cont-count {
            color: red;
            font-size: small;
            margin-top: 6px;
            margin-bottom: 10px;
            }

            .likes {
              font-size: larger;

              i {
                padding-right: 10px;
                padding-left: 10px;
              }
            }

        }

        .categ-story-text3 {
          width: 50%;
        }

        .categ-story-image {
          height: 15vw;
          width: auto;
          margin-right: 35px;
        }

        .categ-story-image2 {
          height: 15vw;
          width: auto;
          margin-left: -10px;
          margin-right: 35px;
        }

        .categ-story-image3 {
          height: 10vw;
          width: auto;
          padding-right: 20px;;
        }


        .image-container {
          width: 35%;
        }
    }
  }

  .image-container {
    flex: 1 1 25%;
    display: flex;
    align-items: center;



    .wridders-img {
      margin-top: 112px;
      height: 38vw;
      margin: 0 auto;
    }

  }
}

}

.top-story-image-one {
  background-image: url("https://i.pinimg.com/originals/85/bd/13/85bd1361a9180a835637f4a3ab4a4aa5.jpg");
  height: 100%;
  width: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.total-likes {
  i {
    display: inline-block;
  }

  h3 {
    display: inline-block;
    margin-top: 10px;
  }
}

.story-submit input{
  height: auto;
}

.generator-genre {
  padding-top: 21px;
}

select#genre {
  height: 38px;
}

.end .end-container .categories-container .categ-stories-container .categ-story-image.action-picture {
  height: 15vw;


}







// @media only screen and (min-width: 980px) {
//   .categ-story1 {
//     flex: 1 1 100%;
//     display: flex;
//     // border-right: .8px solid #0000002e;
//     justify-content: space-evenly;
//     }
//     .categ-story2 {
//       flex: 1 1 100%;
//       display: flex;
//       justify-content: space-evenly;
//     }
//     .categ-story3 {
//       flex: 1 1 100%;
//       display: flex;
//       // border-right: .8px solid #0000002e;
//       justify-content: space-evenly;
//     }
//     .categ-story4 {
//       flex: 1 1 100%;
//       display: flex;
//       justify-content: space-evenly;
//     }
// }

